<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Warehouse Management System</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="container">
    <header>
        <img src="/images/logo.png" alt="Company Logo">
        <div class="header-right">
            <span>You are logged as: <span th:text="qwerty123"></span></span>
            <a th:href="@{/auth/login}" class="logout-btn">Logout</a>
        </div>
    </header>

    <nav>
        <a th:href="@{/orders}" class="active">Order</a>
        <a th:href="@{/receptions}">Acceptance</a>
        <a th:href="@{/goods}">Goods</a>
        <a th:href="@{/operations}">Operation</a>
        <a th:href="@{/sector-goods}">Goods in Sectors</a>

    </nav>
    <section class="orders-section">
        <table>
            <thead>
            <tr>
                <th>Good Order ID</th>
                <th>Good ID</th>
                <th>Good name</th>
                <th>Order ID</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="good : ${goodOrders}">
                <td th:text="${good.id}">GoodOrderID</td>
                <td th:text="${good.getGood().id}">Good ID</td>
                <td th:text="${good.getGood().name}">Good name</td>
                <td th:text="${good.order.id}">Order ID</td>
                <td th:text="${good.quantity}">Quantity</td>
                <td>
                    <a th:href="@{/order-goods/update/{id}(id=${good.id})}" class="update-btn">Update</a>
                    <a th:href="@{/order-goods/delete/{id}(id=${good.id})}" class="delete-btn">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        <a th:href="@{/order-goods/add}" class="add-btn">+</a>
    </section>
</div>
</body>
</html><