<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Acceptance Item</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="overlay">
    <div class="modal">
        <span class="close-btn" onclick="location.href='/receptions'">&#10006;</span>
        <h2>Update Acceptance Item</h2>
        <form th:action="@{/reception-item/update/{id}(id=${item.id})}" method="post" th:object="${item}">
            <label for="expectedQuantity">Expected Quantity</label>
            <input type="number" id="expectedQuantity" th:field="*{expectedQuantity}" th:value="${item.expectedQuantity}" required>
            <label for="receivedQuantity">Received quantity</label>
            <input type="number" id="receivedQuantity" th:field="*{receivedQuantity}" th:value="${item.receivedQuantity}" required>
            <label for="good">Good ID</label>
            <input type="number" id="good" th:field="*{good.id}" th:value="${item.good.id}" required>
            <label for="acceptance">Acceptance ID</label>
            <input type="number" id="acceptance" th:field="*{acceptance.id}" th:value="${item.acceptance.id}" required>
            <div>
                <button type="submit">Update</button>
                <button type="button" class="cancel" onclick="location.href='/receptions'">Cancel</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>